@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Gracias por visitar mi página de portafolio. El objetivo de esta política de privacidad es informarte sobre cómo se manejan los datos personales y la privacidad cuando utilizas este sitio web.</p>
<p><strong>Recopilación de datos</strong></p>
<p>Quiero asegurarte que no recopilo ningún dato personal tuyo cuando visitas este sitio web. No se te pedirá que proporciones ninguna información personal, como tu nombre, dirección de correo electrónico o número de teléfono. Puedes navegar por el sitio de manera anónima sin preocuparte por la divulgación de tus datos personales.</p>
<p><strong>Cookies y tecnologías de seguimiento</strong></p>
<p>Este sitio web no utiliza cookies ni ninguna otra tecnología de seguimiento para recopilar información sobre tus visitas. No se realizará ningún seguimiento de tus actividades en este sitio, y no se almacenará ninguna información personal tuya.</p>
<p><strong>Enlaces externos</strong></p>
<p>Mi sitio web puede contener enlaces a sitios web de terceros. Sin embargo, esta política de privacidad solo se aplica a este sitio web. No tengo control sobre las prácticas de privacidad de otros sitios web, por lo que te recomiendo leer las políticas de privacidad de esos sitios cuando los visites.</p>
<p><strong>Seguridad</strong></p>
<p>La seguridad de tus datos personales es una prioridad para mí. Aunque no recopilo datos personales a través de este sitio web, implemento medidas razonables para proteger cualquier información que puedas proporcionar a través de los formularios de contacto. Sin embargo, recuerda que la transmisión de información a través de Internet nunca es completamente segura, y no puedo garantizar la seguridad absoluta de los datos transmitidos a través de este sitio web.</p>
<p><strong>Cambios en la política de privacidad</strong></p>
<p>Esta política de privacidad puede actualizarse de vez en cuando para reflejar cambios en las prácticas de privacidad. Cualquier actualización se publicará en esta página, por lo que te recomiendo revisarla periódicamente.</p>
<p><strong>Contacto</strong></p>
<p>Si tienes alguna pregunta o inquietud sobre esta política de privacidad, no dudes en ponerse en contacto conmigo a través de los detalles de contacto proporcionados en este sitio web.</p>
<p>Gracias por visitar mi sitio y confiar en mi compromiso con tu privacidad.</p>
<p><strong>Fecha de entrada en vigencia: 08/07/2023</strong></p>
